In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/diabetes.csv')
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [2]:
import numpy as np
df['Glucose']=np.where(df['Glucose']==0,df['Glucose'].median(),df['Glucose'])
df['BloodPressure']=np.where(df['BloodPressure']==0,df['BloodPressure'].median(),df['BloodPressure'])
df['SkinThickness']=np.where(df['SkinThickness']==0,df['SkinThickness'].median(),df['SkinThickness'])
df['Insulin']=np.where(df['Insulin']==0,df['Insulin'].median(),df['Insulin'])
df['BMI']=np.where(df['BMI']==0,df['BMI'].median(),df['BMI'])
df['DiabetesPedigreeFunction']=np.where(df['DiabetesPedigreeFunction']==0,df['DiabetesPedigreeFunction'].median(),df['DiabetesPedigreeFunction'])
df['Age']=np.where(df['Age']==0,df['Age'].median(),df['Age'])
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction   Age  Outcome
0            6    148.0           72.0  ...                     0.627  50.0        1
1            1     85.0           66.0  ...                     0.351  31.0        0
2            8    183.0           64.0  ...                     0.672  32.0        1
3            1     89.0           66.0  ...                     0.167  21.0        0
4            0    137.0           40.0  ...                     2.288  33.0        1

[5 rows x 9 columns]

In [3]:
X=df.drop('Outcome',axis=1)
y=df['Outcome']
pd.DataFrame(X,columns=df.columns[:-1])

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction   Age
0              6    148.0           72.0  ...  33.6                     0.627  50.0
1              1     85.0           66.0  ...  26.6                     0.351  31.0
2              8    183.0           64.0  ...  23.3                     0.672  32.0
3              1     89.0           66.0  ...  28.1                     0.167  21.0
4              0    137.0           40.0  ...  43.1                     2.288  33.0
..           ...      ...            ...  ...   ...                       ...   ...
763           10    101.0           76.0  ...  32.9                     0.171  63.0
764            2    122.0           70.0  ...  36.8                     0.340  27.0
765            5    121.0           72.0  ...  26.2                     0.245  30.0
766            1    126.0           60.0  ...  30.1                     0.349  47.0
767            1     93.0           70.0  ...  30.4                     0.315  23.0

[768 rows x 8 columns]

In [4]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=0)
from sklearn.ensemble import RandomForestClassifier
rf_classifier=RandomForestClassifier(n_estimators=10).fit(X_train,y_train)
prediction=rf_classifier.predict(X_test)

In [5]:
y.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [6]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
print(confusion_matrix(y_test,prediction))
print(accuracy_score(y_test,prediction))
print(classification_report(y_test,prediction))

[[92 15]
 [18 29]]
0.7857142857142857
              precision    recall  f1-score   support

           0       0.84      0.86      0.85       107
           1       0.66      0.62      0.64        47

    accuracy                           0.79       154
   macro avg       0.75      0.74      0.74       154
weighted avg       0.78      0.79      0.78       154